In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Data/Person.csv',low_memory=False)

In [5]:
df.head()

,run,time,id_person,adultchildflag,dag,dcpagdf,dcpen,dcpex,dcpst,dcpyy,...,sindex,sindexnormalised,weight,yearlyequivalisedconsumption,ynbcpdf_dv,yplgrs_dv,ypnbihs_dv,ypncp,ypnoab,yptciihs_dv
0,1,2011,1,False,49,-4.0,False,False,Partnered,3.0,...,NaN,NaN,1,0.0,-2.400428,0.000000,0.000000,0.0,0.0,0.0
1,1,2011,2,False,54,5.0,False,False,Partnered,4.0,...,NaN,NaN,1,0.0,2.400428,9.511705,9.511705,0.0,0.0,0.0
2,1,2011,3,False,9,0.0,NaN,NaN,SingleNeverMarried,0.0,...,NaN,NaN,1,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
3,1,2011,4,False,48,1.0,False,False,Partnered,15.0,...,NaN,NaN,1,0.0,-0.576388,7.306117,7.306116,0.0,0.0,0.0
4,1,2011,5,False,48,0.0,False,False,Partnered,15.0,...,NaN,NaN,1,0.0,0.576388,7.890394,7.890394,0.0,0.0,0.0

In [6]:
df_reduced = df[df["id_person"]<200]

In [7]:
df_reduced.tail()

,run,time,id_person,adultchildflag,dag,dcpagdf,dcpen,dcpex,dcpst,dcpyy,...,sindex,sindexnormalised,weight,yearlyequivalisedconsumption,ynbcpdf_dv,yplgrs_dv,ypnbihs_dv,ypncp,ypnoab,yptciihs_dv
369744,1,2025,193,False,78,-2.0,False,False,Partnered,58.0,...,111.298130,0.992961,1,18249.258,-5.886605,0.000000,3.813884,3.701671,1.612087,3.813884
369745,1,2025,194,False,68,-2.0,False,False,Partnered,47.0,...,81.405258,0.726268,1,11074.265,3.596954,0.000000,6.879128,3.932180,6.825221,6.879128
369746,1,2025,195,False,71,3.0,False,False,Partnered,47.0,...,81.405258,0.726268,1,11074.265,-3.596954,0.000000,3.253324,0.000000,3.253324,3.253324
369747,1,2025,198,False,64,1.0,False,False,Partnered,47.0,...,138.608020,1.236610,1,20558.238,-6.055189,0.000000,2.490412,0.000000,2.490412,2.490412
369748,1,2025,199,False,64,0.0,False,False,Partnered,47.0,...,134.671080,1.201486,1,19406.977,6.055189,8.802419,8.808287,3.667790,0.000000,3.667790

In [11]:
df_reduced.to_csv('Data/PersonReduced.csv')